<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Acceso Denegado</title>
        <meta charset="UTF-8"/>
      
    </head>
    <body>
        <div>Acceso denegado</div>
        <h2>No tienes permiso para ver esta pagina ponte en contacto con el administrador</h2>
        <a th:href="@{/}">[[#{btn.reg}]]</a>
    </body>
</html>
